In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
from pathlib import Path

In [6]:
DAILY_DATA_PATH = Path(Path(os.getcwd()) / "../data/daily_usage/").resolve()
AGG_DAILY_USAGE_PATH = Path(Path(os.getcwd()) / "../data/aggregate_daily_usage/").resolve()

In [7]:
dec_df = pd.read_parquet(DAILY_DATA_PATH / "2023_12.parq")
dec_df

,timestamp,rent_station_code,rent_station_name,rent_type,gender,age,rent_count,exercise_amount,carbon_emission,rent_meter,rent_minute,year,month,day
0,2023-12-01,733,733. 신정이펜하우스314동,정기권,None,~10대,1,15.89,0.15,636.76,7,2023,12,1
1,2023-12-01,739,739. 신월사거리,정기권,None,~10대,1,27.70,0.51,2185.77,14,2023,12,1
2,2023-12-01,746,746. 목동2단지 상가,정기권,None,~10대,1,59.20,0.53,2300.00,9,2023,12,1
3,2023-12-01,948,948. 디지털미디어 시티역 4번출구(DMC역),정기권,None,~10대,1,8.43,0.10,425.65,2,2023,12,1
4,2023-12-01,1023,1023. 한국종합기술사옥 앞,정기권,None,~10대,1,8.55,0.09,400.00,3,2023,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1272169,2023-12-31,2156,2156. 신림푸르지오아파트,정기권,M,기타,1,17.79,0.15,641.78,4,2023,12,31
1272170,2023-12-31,3502,3502. 중곡역 1번출구,정기권,M,기타,1,43.08,0.41,1754.74,17,2023,12,31
1272171,2023-12-31,3505,3505. 신양초교앞 교차로,정기권,M,기타,1,117.89,1.06,4580.00,87,2023,12,31
1272172,2023-12-31,722,722. 경서농협 버스정류장(우리은행신정동지점방향),정기권,M,기타,1,59.70,0.47,2010.00,10,2023,12,31
1272173,2023-12-31,726,726. 목동3단지 시내버스정류장,정기권,M,기타,1,98.08,0.75,3216.64,103,2023,12,31

In [20]:
dec_df = dec_df[["timestamp", "day"]].groupby("day").count().reset_index()
dec_df["year"] = 2023
dec_df["month"] = 12
dec_df

    day  timestamp  year  month
0     1      52603  2023     12
1     2      45833  2023     12
2     3      41946  2023     12
3     4      59167  2023     12
4     5      64553  2023     12
5     6      50984  2023     12
6     7      63652  2023     12
7     8      68264  2023     12
8     9      60181  2023     12
9    10      54376  2023     12
10   11      16989  2023     12
11   12      58557  2023     12
12   13      64410  2023     12
13   14      24472  2023     12
14   15      22514  2023     12
15   16      25771  2023     12
16   17      22567  2023     12
17   18      39214  2023     12
18   19      41635  2023     12
19   20      29356  2023     12
20   21      30728  2023     12
21   22      32002  2023     12
22   23      29410  2023     12
23   24      21332  2023     12
24   25      21016  2023     12
25   26      46077  2023     12
26   27      49472  2023     12
27   28      49353  2023     12
28   29      50743  2023     12
29   30      12901  2023     12
30   31      22096  2023     12