In [2]:
import pandas as pd
import numpy as np

In [3]:
import os
from pathlib import Path

In [4]:
DAILY_DATA_PATH = Path(Path(os.getcwd()) / "../raw_data/서울시 공공자전거 이용정보(일별)").resolve()

In [7]:
DAILY_DATA_OUTPUT = Path(Path(os.getcwd()) / "../data/daily_usage/").resolve()

In [13]:
dec_df = pd.read_csv(DAILY_DATA_PATH / "서울특별시 공공자전거 이용정보(일별)_2312.csv", encoding="cp949")
dec_df

,대여일자,대여소번호,대여소,대여구분코드,성별,연령대,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2023-12-01,733,733. 신정이펜하우스314동,정기권,NaN,~10대,1,15.89,0.15,636.76,7
1,2023-12-01,739,739. 신월사거리,정기권,NaN,~10대,1,27.70,0.51,2185.77,14
2,2023-12-01,746,746. 목동2단지 상가,정기권,NaN,~10대,1,59.20,0.53,2300.00,9
3,2023-12-01,948,948. 디지털미디어 시티역 4번출구(DMC역),정기권,NaN,~10대,1,8.43,0.10,425.65,2
4,2023-12-01,1023,1023. 한국종합기술사옥 앞,정기권,NaN,~10대,1,8.55,0.09,400.00,3
...,...,...,...,...,...,...,...,...,...,...,...
1272169,2023-12-31,2156,2156. 신림푸르지오아파트,정기권,M,기타,1,17.79,0.15,641.78,4
1272170,2023-12-31,3502,3502. 중곡역 1번출구,정기권,M,기타,1,43.08,0.41,1754.74,17
1272171,2023-12-31,3505,3505. 신양초교앞 교차로,정기권,M,기타,1,117.89,1.06,4580.00,87
1272172,2023-12-31,722,722. 경서농협 버스정류장(우리은행신정동지점방향),정기권,M,기타,1,59.70,0.47,2010.00,10
1272173,2023-12-31,726,726. 목동3단지 시내버스정류장,정기권,M,기타,1,98.08,0.75,3216.64,103

In [37]:
pd.read_csv(DAILY_DATA_PATH / "서울특별시 공공자전거 이용정보(일별)_2312.csv", encoding="cp949").columns

Index(['대여일자', '대여소번호', '대여소', '대여구분코드', '성별', '연령대', ' 이용건수', '운동량', '탄소량',
       '이동거리(M)', '이용시간(분)'],
      dtype='object')

> Each row corresponds to a user

### Rename Korean columns to English

In [17]:
rename_mapper = {
    "대여일자": "timestamp",
    "대여소번호": "rent_station_code",
    "대여소": "rent_station_name",
    "대여구분코드": "rent_type",
    "성별": "gender",
    "연령대": "age",
    " 이용건수": "rent_count",
    "운동량": "exercise_amount",
    "탄소량": "carbon_emission",
    "이동거리(M)": "rent_meter",
    "이용시간(분)": "rent_minute"
}

In [18]:
dec_df.columns

Index(['timestamp', 'rent_station_code', 'rent_station_name', 'rent_type',
       'gender', 'age', ' 이용건수', 'exercise_amount', 'carbon_emission',
       '이동거리(M)', 'rent_minute'],
      dtype='object')

In [19]:
dec_df = dec_df.rename(columns=rename_mapper)
dec_df

,timestamp,rent_station_code,rent_station_name,rent_type,gender,age,rent_count,exercise_amount,carbon_emission,rent_meter,rent_minute
0,2023-12-01,733,733. 신정이펜하우스314동,정기권,NaN,~10대,1,15.89,0.15,636.76,7
1,2023-12-01,739,739. 신월사거리,정기권,NaN,~10대,1,27.70,0.51,2185.77,14
2,2023-12-01,746,746. 목동2단지 상가,정기권,NaN,~10대,1,59.20,0.53,2300.00,9
3,2023-12-01,948,948. 디지털미디어 시티역 4번출구(DMC역),정기권,NaN,~10대,1,8.43,0.10,425.65,2
4,2023-12-01,1023,1023. 한국종합기술사옥 앞,정기권,NaN,~10대,1,8.55,0.09,400.00,3
...,...,...,...,...,...,...,...,...,...,...,...
1272169,2023-12-31,2156,2156. 신림푸르지오아파트,정기권,M,기타,1,17.79,0.15,641.78,4
1272170,2023-12-31,3502,3502. 중곡역 1번출구,정기권,M,기타,1,43.08,0.41,1754.74,17
1272171,2023-12-31,3505,3505. 신양초교앞 교차로,정기권,M,기타,1,117.89,1.06,4580.00,87
1272172,2023-12-31,722,722. 경서농협 버스정류장(우리은행신정동지점방향),정기권,M,기타,1,59.70,0.47,2010.00,10
1272173,2023-12-31,726,726. 목동3단지 시내버스정류장,정기권,M,기타,1,98.08,0.75,3216.64,103

### Split year, month, day from timestamp

In [21]:
dec_df["timestamp"] = dec_df["timestamp"].astype("str")
dec_df["year"] = dec_df["timestamp"].str.slice(start=0, stop=4).astype("int32")
dec_df["month"] = dec_df["timestamp"].str.slice(start=5, stop=7).astype("int32")
dec_df["day"] = dec_df["timestamp"].str.slice(start=8).astype("int32")
dec_df

,timestamp,rent_station_code,rent_station_name,rent_type,gender,age,rent_count,exercise_amount,carbon_emission,rent_meter,rent_minute,year,month,day
0,2023-12-01,733,733. 신정이펜하우스314동,정기권,NaN,~10대,1,15.89,0.15,636.76,7,2023,12,1
1,2023-12-01,739,739. 신월사거리,정기권,NaN,~10대,1,27.70,0.51,2185.77,14,2023,12,1
2,2023-12-01,746,746. 목동2단지 상가,정기권,NaN,~10대,1,59.20,0.53,2300.00,9,2023,12,1
3,2023-12-01,948,948. 디지털미디어 시티역 4번출구(DMC역),정기권,NaN,~10대,1,8.43,0.10,425.65,2,2023,12,1
4,2023-12-01,1023,1023. 한국종합기술사옥 앞,정기권,NaN,~10대,1,8.55,0.09,400.00,3,2023,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1272169,2023-12-31,2156,2156. 신림푸르지오아파트,정기권,M,기타,1,17.79,0.15,641.78,4,2023,12,31
1272170,2023-12-31,3502,3502. 중곡역 1번출구,정기권,M,기타,1,43.08,0.41,1754.74,17,2023,12,31
1272171,2023-12-31,3505,3505. 신양초교앞 교차로,정기권,M,기타,1,117.89,1.06,4580.00,87,2023,12,31
1272172,2023-12-31,722,722. 경서농협 버스정류장(우리은행신정동지점방향),정기권,M,기타,1,59.70,0.47,2010.00,10,2023,12,31
1272173,2023-12-31,726,726. 목동3단지 시내버스정류장,정기권,M,기타,1,98.08,0.75,3216.64,103,2023,12,31

### Group by year, month and save

In [22]:
for group, df in dec_df.groupby(["year", "month"]):
    print(group)
    year, month = group
    df = df.reset_index(drop=True)
    df.to_parquet(DAILY_DATA_OUTPUT / f"{year}_{str(month).zfill(2)}.parq")

(2023, 12)

In [23]:
pd.read_parquet(DAILY_DATA_OUTPUT / "2023_12.parq")

,timestamp,rent_station_code,rent_station_name,rent_type,gender,age,rent_count,exercise_amount,carbon_emission,rent_meter,rent_minute,year,month,day
0,2023-12-01,733,733. 신정이펜하우스314동,정기권,None,~10대,1,15.89,0.15,636.76,7,2023,12,1
1,2023-12-01,739,739. 신월사거리,정기권,None,~10대,1,27.70,0.51,2185.77,14,2023,12,1
2,2023-12-01,746,746. 목동2단지 상가,정기권,None,~10대,1,59.20,0.53,2300.00,9,2023,12,1
3,2023-12-01,948,948. 디지털미디어 시티역 4번출구(DMC역),정기권,None,~10대,1,8.43,0.10,425.65,2,2023,12,1
4,2023-12-01,1023,1023. 한국종합기술사옥 앞,정기권,None,~10대,1,8.55,0.09,400.00,3,2023,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1272169,2023-12-31,2156,2156. 신림푸르지오아파트,정기권,M,기타,1,17.79,0.15,641.78,4,2023,12,31
1272170,2023-12-31,3502,3502. 중곡역 1번출구,정기권,M,기타,1,43.08,0.41,1754.74,17,2023,12,31
1272171,2023-12-31,3505,3505. 신양초교앞 교차로,정기권,M,기타,1,117.89,1.06,4580.00,87,2023,12,31
1272172,2023-12-31,722,722. 경서농협 버스정류장(우리은행신정동지점방향),정기권,M,기타,1,59.70,0.47,2010.00,10,2023,12,31
1272173,2023-12-31,726,726. 목동3단지 시내버스정류장,정기권,M,기타,1,98.08,0.75,3216.64,103,2023,12,31